* {
    margin: 0;
    padding: 0;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

#game {
    position: relative;
    width: 500px;
    height: 500px;
}

#player {
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    background-color: royalblue;
    width: 20px;
    height: 20px;
}

.display {
    display: block;
}

.subtitle {
    top: 0;
    left: 5px;
    position: absolute;
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

.subtitle:nth-of-type(1) {
    top: 20px
}

.mobile {
    display: none;
}

@media (max-width:900px) {
    button {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .mobile {
        display: flex;
        flex-direction: column;
    }

    .mobile button {
        width: 50px;
        height: 50px;
    }

    .top {
        display: flex;
        justify-content: center;
    }

    #game {
        transform: scale(0.7);
    }
}

@media (max-width:354px) {
    #game {
        margin-top: -100px;
        transform: scale(0.6);
    }
}